#defend-space{
    background-color: pink;
}

.main{
    float:left;
    clear: both;
}
.charBlock{
    float: left;
    clear: right;
}

#cr-2{
    background-color: greenyellow;
}

.test1{
    background-color: skyblue;

}