#defend-space{
    background-color: pink;
}

.main{
    float:left;
    clear: both;
}
.charBlock{
    float: left;
    clear: right;
}

canvas{
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
    background-image: url("../images/b1.gif");
}

#cr-2{
    background-color: greenyellow;
}

.test1{
    background-color: skyblue;

}